<ion-header>

    <ion-navbar color="primary">
        <ion-title>Add Cashflow</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="form">
		<p class="error-message" *ngIf="!form.controls.valid">Please fill out all fields accurately.</p>
        <ion-item>
            <ion-label>Date</ion-label>
			<ion-datetime displayFormat="DD/MM/YYYY"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>Amount</ion-label>
            <ion-input formControlName="amount" type="tel" text-right></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select formControlName="type" type="text">
				<ion-option *ngFor="let type of cashflowTypes">{{type}}</ion-option>
			</ion-select>
        </ion-item>
    </form>
	<br>
    <button ion-button block (click)="add()">ADD</button>
</ion-content>